*{margin: 0;padding:0;list-style: none;font-family:Microsoft YaHei,sans-serif;text-decoration: none;font-size: 14px;}
::-webkit-scrollbar {display:none}
.appbox{
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
